<h1 id="livecoding-docs">Livecoding Docs</h1>
<p>You seem to seek the wisdom needed to not embarrass yourself on this fine day. These docs shall grant you the necessary knowledge to achieve this.</p>
<h2 id="the-task">The task</h2>
<p>Your task is to get and decrypt the secret message. To do so you will need to issue some <a href="https://requests.readthedocs.io/en/master/">requests</a> to the server at the <code>/api</code> endpoint, find the key and then decrypt the message.</p>
<h2 id="talk-to-me">Talk to me!</h2>
<p>The server seems to be in a bad mood, so you need to be especially nice and polite. Maybe try to greet it with the following: “<code>X-Polite: action=tipping-fedora;greeting=m'lady</code>”.</p>
<h2 id="dark-secrets">Dark secrets</h2>
<p>So now that we understand each other we can finally get down to business.</p>
<p>The message is <strong>AES-CBC</strong> encrypted and encoded as a <strong>hexadecimal</strong> string. The <strong>first 16 bytes</strong> of the ciphertext comprise the <strong>IV</strong>. You need to convert the hexadecimal representation to bytes and <strong>split</strong> it into IV and message ciphertext. The length of the key is <strong>16 bytes/ASCII characters</strong>. Once decrypted you need to <strong>unpad</strong> the result (remember: the blocksize is 128 bits) before you can finally decode it to a string.</p>
<p>As always, it’s dangerous to go alone - take <a href="https://cryptography.io/en/latest/">this</a>!</p>
<h2 id="everybody-gets-a-key">Everybody gets a key</h2>
<p>The key is split into <strong>two parts</strong> in the JSON response. Each part is 8 characters lowercase ASCII and encoded in a list of strings. To decode either half of the key you need to count each character’s occurrence for each position and choose the ones with the highest frequency. Finally, concatenate both parts and you have yourself a key. Nice!</p>
<h3 id="key-encoding-example">Key encoding example</h3>
<p>The example key <code>secret</code> could be encoded like so:</p>
<pre><code>sihrebxt
lzqfvvct
wmyrptsb
nevrejff
fabkhdsj
oacxjtfu
sbchtcjf
melqetzn
meciabry
sdkxpxfe</code></pre>
<p>If you count the occurrences of the first letters in each string, you will see that the letter <code>s</code> can be found more often than any other one.</p>
